.box {
    margin: 20px;
    width: 600px;
    padding: 10px;
    text-align: center;
    background-color:moccasin;
}

.padding {
    padding:10px;
}

.indigo{
    color:indigo;
}

.blueviolet{
    color:blueviolet;
}

.orange{
    color:orange;
}

